/*
 * Exercises
 */
@import 'tachyons/src/tachyons';
@import './variables.css';

/**
 * Utilities
 */
.pointer { cursor: pointer; }
.vh-100 { height: 100vh; }
.vh-50 { height: 50vh; }
.z--1 { z-index: -1; }
.highlight:hover { background-color: var(--darken-1); }

.translate-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/**
 * Icon
 */

.icon {
  height: 1em;
  width: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentcolor;
}

.svg-icon circle {
  stroke: currentcolor;
  stroke-width: 1;
}

/**
 * Animation Utils
 */

/* Transition Durations */
.an-d1 { transition-duration: 100ms; }
.an-d2 { transition-duration: 200ms; }
.an-d3 { transition-duration: 400ms; }
.an-d4 { transition-duration: 600ms; }

/* Transition Properties */
.an-h { transition-property: height; }
.an-m { transition-property: margin; }
.an-opacity { transition-property: opacity; }
.an-transform { transition-property: transform; }
.an-all { transition-property: all; }

/* Timing functions */
.an-ease-in { animation-timing-function: ease-in; }
.an-ease-out { animation-timing-function: ease-out; }
.an-ease-in-out { animation-timing-function: ease-in-out; }
.an-linear { animation-timing-function: linear; }

.an-bezier {
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

an-delay { transition-delay: 300ms; }
